<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="./" class="logo">
					<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
					<span>NPCS</span>
				</a>
				<nav id="nav">
					<a href="./">HOME</a>
					<a href="./about">ABOUT</a>
					<a href="./tuition">TUITION</a>
					<a href="./faq">FAQ</a>
					<a href="./apply">APPLY</a>
					<a href="./contact">CONTACT</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>ABOUT NPCS</h2>
						<p>Discover the NorthPointe Difference</p>
					</header>
					<ul class="about-list">
						<li>Christ-centered instruction that leads to the standard of graduation credentials, as listed by the state of Texas</li>
						<li>Affordable 2nd-12th grade program led by certified and Kingdom-minded teachers</li>
						<li>2-3 day program that allows students the ability to work, intern, play sports, or pursue other growth opportunities and creative outlets</li>
						<li>Students utilizing this program consistently score higher on the SAT</li>
						<li>Mentoring and leadership training is provided by proven Christian leaders</li>
						<li>Students have the opportunity to build relationships with other believers their age</li>
					</ul>
				</div>
			</section>

		<!-- Two -->
		<section id="two" class="wrapper style1 special">
			<div class="inner">
				<header>
					<h2>MEET THE TEACHER</h2>
				</header>
				<div class="flex flex-4">
					<div class="box person">
						<div class="image round">
							<img src="images/carrie.jpg" alt="Person 1" />
						</div>
						<h3>Carrie Rose</h3>
						<p>NorthPointe Teacher and Founder</p>
					</div>
				</div>
				<div class="teacher">
					<p>After graduating from Texas A&M University with a degree in Interdisciplinary Studies, Carrie taught 5th grade in a Title 1 public school in Bryan, Texas.</p>
					<p>In 2010, Carrie and her husband felt called back to the Austin area to launch The Exchange Church. This relocation brought Carrie to Pflugerville, where she taught 7th grade Language Arts for a local, high-performing school. After four years in the public school system, she launched a homeschool-hybrid franchise based out of southeast Texas, forming NorthPointe Christian School in the Fall of 2013.</p>
					<p>Her love for teaching at NorthPointe is clear in the culture she has established. It has a positive atmosphere, ensuring that every child feels loved and accepted. Students are challenged to grow academically, spiritually and emotionally. Moreover, there is not only the freedom to pray, but the expectation that God is moving in each student’s life. NPCS has become a place of testimony to the Lord’s presence and power, being celebrated and experienced by all.</p>
					<p>When not in the classroom, Carrie loves to garden, resulting in her own line of health and beauty products. She loves to share her knowledge of herbal remedies and benefits with her students! On occasion, the students also have visitors on campus, Carrie’s two rescue dogs that love to run the school halls during lunch and breaks. They absolutely love the students!</p>
					<p>Carrie counts it an honor to help mold and champion the generations to come. Her heart to build healthy sons & daughters of God is the driving force behind the success of NPCS.</p>
				</div>
				
			</div>
		</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>