<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Apply</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="index.html" class="logo">
					<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
					<span>NPCS</span>
				</a>
				<nav id="nav">
					<a href="./">HOME</a>
					<a href="./about">ABOUT</a>
					<a href="./tuition">TUITION</a>
					<a href="./faq">FAQ</a>
					<a href="./apply">APPLY</a>
					<a href="./contact">CONTACT</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

      <!-- Three -->
      <form method="POST" action="/sent" id="apply">
        <section id="one" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2>APPLY NOW</h2>
                </header>
                <form method="POST" action="send" id="apply">
                <h3>Student Info</h3>
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="first-name" id="first-name" value="" placeholder="First Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="last-name" id="last-name" value="" placeholder="Last Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <label for="birthday">Date of Birth:</label>
                            <input type="date" id="birthday" name="birthday">
                        </div>
                        <div class="12u$">
                            <label for="address">Address:</label>
                            <input type="text" name="address" id="address1" value="" placeholder="Number and Street" />
                            <br>
                            <input type="text" name="address" id="address2" value="" placeholder="City, State, Zip" />
                        </div>
                        <div class="6u$ 12u$(small)">
                            <label for="phone">Student's Cell Phone:</label>
                            <input type="tel" name="phone" id="phone" value="" placeholder="(123)456-7890" />
                            <br>
                            <label for="email">Student's Email:</label>
                            <input type="email" name="email" id="email" value="" placeholder="name@example.com"  />
                        </div>
                        <div class="6u$ 12u$ (xsmall)">
                            <div class="select-wrapper">
                                <label for="grade">Last Grade Completed:</label>
                                <select name="grade" id="grade">
                                    <option value="">- Select Grade -</option>
                                    <option value="1">1st Grade</option>
                                    <option value="1">2nd Grade</option>
                                    <option value="1">3rd Grade</option>
                                    <option value="1">4th Grade</option>
                                    <option value="1">5th Grade</option>
                                    <option value="1">6th Grade</option>
                                    <option value="1">7th Grade</option>
                                    <option value="1">8th Grade</option>
                                    <option value="1">9th Grade</option>
                                    <option value="1">10th Grade</option>
                                    <option value="1">11th Grade</option>
                                </select>
                            </div>
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <label for="school">Last School:</label>
                            <input type="text" name="school" id="school" value="" placeholder="School Name" />
                        </div>
                        <div class="12u$">
                            <label for="allergies">Allergies:</label>
                            <textarea name="allergies" id="allergies" placeholder="Enter allergies" rows="2"></textarea>
                        </div>
                        <div class="12u$">
                            <label for="medicines">Medicines:</label>
                            <textarea name="medicines" id="medicines" placeholder="Enter Medicines" rows="2"></textarea>
                            <small>(Doctor's notes are required to disperse medication.)</small>
                        </div>
                    </div>
                <h3>Parent/Guardian Info</h3>
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="pfirst-name" id="pfirst-name" value="" placeholder="First Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="plast-name" id="plast-name" value="" placeholder="Last Name" />
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="sameaddress" name="sameaddress">
                            <label for="sameaddress">Guardian mailing address is the same as the student's</label>
                        </div>
                        <div class="12u$">
                            <label for="address">Address (if different):</label>
                            <input type="text" name="paddress" id="paddress1" value="" placeholder="Number and Street" />
                            <br>
                            <input type="text" name="paddress" id="paddress2" value="" placeholder="City, State, Zip" />
                        </div>
                        <div class="6u$ 12u$(small)">
                            <label for="pcell-phone">Cell Phone:</label>
                            <input type="tel" name="pcell-phone" id="pcell-phone" value="" placeholder="(123)456-7890" />
                            <br>
                            <label for="pwork-phone">Work Phone:</label>
                            <input type="tel" name="pwork-phone" id="pwork-phone" value="" placeholder="(123)456-7890" />
                            <br>
                            <label for="phome-phone">Home Phone:</label>
                            <input type="tel" name="phome-phone" id="phome-phone" value="" placeholder="(123)456-7890" />
                            <br>
                            <label for="pemail">Email:</label>
                            <input type="email" name="pemail" id="pemail" value="" placeholder="name@example.com"  />
                        </div>
                    </div>
                <h3>Person Responsible for Tuition</h3>
                    <div class="row uniform">
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="sametuition" name="sametuition">
                            <label for="sametuition">Parent/Guardian is responsible for tuition</label>
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="tfirst-name" id="tfirst-name" value="" placeholder="First Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="tlast-name" id="tlast-name" value="" placeholder="Last Name" />
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="sametuitionaddress" name="sametuitionaddress">
                            <label for="sametuitionaddress">Party Responsible For Tuition mailing address is different from student address above.</label>
                        </div>
                        <div class="12u$">
                            <label for="address">Address (if different):</label>
                            <input type="text" name="taddress" id="taddress1" value="" placeholder="Number and Street" />
                            <br>
                            <input type="text" name="taddress" id="taddress2" value="" placeholder="City, State, Zip" />
                        </div>
                        <div class="6u$ 12u$(small)">
                            <label for="tcell-phone">Cell Phone:</label>
                            <input type="tel" name="tcell-phone" id="tcell-phone" value="" placeholder="(123)456-7890" />
                            <br>
                            <label for="temail">Email:</label>
                            <input type="email" name="temail" id="temail" value="" placeholder="name@example.com"  />
                        </div>
                    </div>
                <h3>Student Pickup</h3>
                    <div class="12u$">
                        <label for="pickup">The following people are allowed to pick up my student (Must have photo ID when picking them up):</label>
                        <textarea name="pickup" id="pickup" placeholder="Enter names" rows="1"></textarea>
                    </div>
                <h3>Tell Us More</h3>
                    <div class="row uniform">
                        <div class="12u$">
                            <label for="strengths">Describe your student’s STRENGTHS and WEAKNESSES:</label>
                            <textarea name="strengths" id="strengths" placeholder="Type here" rows="4"></textarea>
                        </div>
                        <div class="12u$">
                            <label for="interest">Why are you interested in enrolling your student in this program?:</label>
                            <textarea name="interest" id="interest" placeholder="Type here" rows="4"></textarea>
                        </div>
                        <div class="12u$">
                            <label for="hope">What are you hoping your child will get out of their time at NPCS?:</label>
                            <textarea name="hope" id="hope" placeholder="Type here" rows="4"></textarea>
                        </div>
                        <div class="12u$">
                            <label for="partnership">NPCS is a teacher-parent partnership. How will you keep your child on track in their studies on the days they are not on campus?:</label>
                            <textarea name="partnership" id="partnership" placeholder="Type here" rows="4"></textarea>
                        </div>
                    </div>
            </div>
            <section id="three">
				<div class="inner">
					<div class="flex">
						<div class="box alt">
                <button class="button special big" type="submit" form="apply" value="SUBMIT">SUBMIT</button>
						</div>
					</div>
				</div>
      </section>
      </form>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>