<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Contact</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>
	<body class="subpage">

        <!-- Header -->
		<header id="header">
			<div class="inner">
				<a href= "./" class="logo">
					<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
					<span>NPCS</span>
				</a>
				<nav id="nav">
					<a href="./">HOME</a>
					<a href="./about">ABOUT</a>
					<a href="./tuition">TUITION</a>
					<a href="./faq">FAQ</a>
					<a href="./apply">APPLY</a>
					<a href="./contact">CONTACT</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
        </header>
        
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2>CONTACT US</h2>
                </header>
                <div class="flex flex-3">
                    <article>
                        <div class="icon">
                            <img src="images/location.svg" alt="book" height="50em" color="#9c79e4">
                        </div>
                        <header>
                            <h3>Location</h3>
                        </header>
                        <p class="sell">1601 South IH-35, Suite 305 <br> Round Rock, Texas <br> (at the intersection of
                            IH-35 & Gattis School Road
                            behind Outback Steakhouse)</p>
                    </article>
                    <article>
                        <div class="icon">
                            <img src="images/phone.svg" alt="community" height="50em" color="#9c79e4">
                        </div>
                        <header>
                            <h3>Call Us</h3>
                        </header>
                        <p class="sell">(512)248-0323</p>
                    </article>
                    <article>
                        <div class="icon">
                            <img src="images/mail.svg" alt="dollar sign" height="50em" color="#9c79e4">
                        </div>
                        <header>
                            <h3>Write Us</h3>
                        </header>
                        <p class="sell">Mail: PO Box 5746, Round Rock TX 78683</p>
                        <p class="sell">Email: info@headingNorth.org</p>
                    </article>
                </div>
            </div>
        </section>

        <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>