<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FAQ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="index.html" class="logo">
					<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
					<span>NPCS</span>
				</a>
				<nav id="nav">
					<a href="./">HOME</a>
					<a href="./about">ABOUT</a>
					<a href="./tuition">TUITION</a>
					<a href="./faq">FAQ</a>
					<a href="./apply">APPLY</a>
					<a href="./contact">CONTACT</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

		<!-- FAQ -->
			<section id="main" class="wrapper">
                <div class="inner">
                    <header class="align-center">
                        <h2>FREQUENTLY ASKED QUESTIONS</h2>
                    </header>
                    <dl>
                        <ul class="alt">
                            <li>
                                <dt>When and where are classes?</dt>
                                <dd>
                                    <p>Classes meet at The Exchange Church in Round Rock, Tx from 8:30am-2:30pm on Tuesdays and Thursdays (2 day program) and Tuesdays-Thursdays (3 day program).</p>
                                </dd>
                            </li>
                            <li>
                                <dt>What does a non-school day look like for the students?</dt>
                                <dd>
                                    <p>Students receive one-on-one instruction during their 2-3 days on campus. They are required to complete daily work on their own time (approximately 3 hours) outside of the classroom during the week. NPCS teachers will monitor progress and set daily goals for each student. To succeed in this program, parents should be prepared to keep their student committed to progress.</p>
                                </dd>
                            </li>
                            <li>
                                <dt>Is this a homeschool program?</dt>
                                <dd>
                                    <p>NPCS is a hybrid program that utilizes homeschool curriculum but additionally provides a classroom setting, socialization, instruction, and guidance from certified teachers. Our curriculum is fully accredited according to the State of Texas.</p>
                                </dd>
                            </li>
                            <li>
                                <dt>Which curriculum do you use?</dt>
                                <dd>
                                    <p>We use <a href=" https://glnmedia.s3.amazonaws.com/pdf/products/scope_and_sequence/lifepac_ss.pdf">Alpha Omega</a>, which covers 5 core subjects: history, language arts, math, science, and bible. LIFEPAC worktexts include engaging lessons, activities, review questions and tests. Scripture passages are integrated throughout worktexts to help students connect daily learning to biblical truth. Though not required, a wide variety of electives are also available at an additional cost.</p>
                                </dd>
                            </li>
                            <li>
                                <dt>Can my student get ahead and graduate early?</dt>
                                <dd><p>Absolutely! Students are monitored to ensure they complete the required coursework for the year; however, they are free to move more quickly if they wish.</p></dd>
                            </li>
                            <li>
                                <dt>What advantages does this program have over other schools?</dt>
                                <dd><p>NorthPointe offers a Christian private school experience for a fraction of the private school cost. In addition, the felxibility of the student's schedule allows them to pursue work, sports, or any other outside interest without creating tension on the family schedule. Unlike traditional homeschooling, NPCS offers a classroom setting, instruction by qualified teachers, mentorship by proven Christian leaders, and ministry internship opportunities.</p></dd>
                            </li>
                            <li>
                                <dt>Can my student register mid-year?</dt>
                                <dd>
                                    <p>Yes, if there are openings available. Feel free to contact us for an academic counseling appointment.</p>
                                </dd>
                            </li>
                        </ul>
                    </dl>

                </div>
            </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>