<!DOCTYPE HTML>
<html>
	<head>
		<title>NorthPointe Christian School</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">
						<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
						<span>NPCS</span>
					</a>
					<nav id="nav">
						<a href="./">HOME</a>
						<a href="./about">ABOUT</a>
						<a href="./tuition">TUITION</a>
						<a href="./faq">FAQ</a>
						<a href="./apply">APPLY</a>
						<a href="./contact">CONTACT</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div>
					<h1>NORTHPOINTE CHRISTIAN SCHOOL</h1>
					<p>A Christ-centered homeschool hybrid program for tomorrow's leader.</p>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<div class="icon">
								<img src="images/book-solid.svg" alt="book" height="50em" color="#9c79e4">
							</div>
							<header>
								<h3>Biblical Curriculum</h3>
							</header>
							<p class="sell"><a href=" https://glnmedia.s3.amazonaws.com/pdf/products/scope_and_sequence/lifepac_ss.pdf">Alpha Omega</a> is a Bible-based, award-winning homeschool curriculum that is fully accredited by the State of Texas. Scripture passages are integrated throughout worktexts to help students connect daily learning to biblical truth.</p>
						</article>
						<article>
							<div class="icon">
								<img src="images/church-solid.svg" alt="community" height="50em" color="#9c79e4">
							</div>
							<header>
								<h3>Community Oriented</h3>
							</header>
							<p class="sell">Students are inside the classroom Tuesday-Thursday to receive instruction and build relationships with eachother. Because of the close-knit nature of our program, no student gets left out or behind. At NPCS, every student is seen, known, and celebrated.</p>
						</article>
						<article>
							<div class="icon">
								<img src="images/dollar-sign-solid.svg" alt="dollar sign" height="50em" color="#9c79e4">
							</div>
							<header>
								<h3>Cost Effective</h3>
							</header>
							<p class="sell">NPCS offers a Christian private school experience for only a fraction of the cost. To best fit your family's needs we offer three payment options for tuition: annual, semi-annual, and monthly.</p>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>NPCS ALUMNI</h2>
						<p>What happens here doesn't stay here.</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="images/caleb.jpg" alt="Person 1" />
							</div>
							<h3>Caleb Breaux</h3>
							<p>Video Game Design Student</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/addy.jpg" alt="Person 2" />
							</div>
							<h3>Addison Rose</h3>
							<p>Education Major and Photographer</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/rebecca.jpg" alt="Person 5" />
							</div>
							<h3>Rebecca Dillon</h3>
							<p>Commercial Music Major</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/caden.jpg" alt="Person 4" />
							</div>
							<h3>Caden Abbitt</h3>
							<p>Web Developer</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/micah.jpg" alt="Person 3" />
							</div>
							<h3>Micah Rose</h3>
							<p>Hillsong Southwest Youth Pastor and Business Owner</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/bethany.jpg" alt="Person 5" />
							</div>
							<h3>Bethany Petersen</h3>
							<p>U.S. Military</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/makayla2.jpg" alt="Person 4" />
							</div>
							<h3>Makayla Castaneda</h3>
							<p>Worship Leader and Youth Director</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Call to action -->
			<section id="three">
				<div class="inner">
					<div class="flex">
						<div class="box alt">
							<ul class="actions">
								<li><a href="#" class="button special">CONTACT</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>