<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Application Sent</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="index.html" class="logo">
					<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
					<span>NPCS</span>
				</a>
				<nav id="nav">
					<a href="./">HOME</a>
					<a href="./about">ABOUT</a>
					<a href="./tuition">TUITION</a>
					<a href="./faq">FAQ</a>
					<a href="./apply">APPLY</a>
					<a href="./contact">CONTACT</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

      <!-- Three -->
        <section id="one" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2>APPLICATION SENT!</h2>
                </header>
        </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>