<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Tuition</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

        <!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="index.html" class="logo">
					<img src="/images/NORTHPOINTE CHRISTIAN SCHOOL.png" alt="logo">
					<span>NPCS</span>
				</a>
				<nav id="nav">
          <a href="./">HOME</a>
					<a href="./about">ABOUT</a>
					<a href="./tuition">TUITION</a>
					<a href="./faq">FAQ</a>
					<a href="./apply">APPLY</a>
					<a href="./contact">CONTACT</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
        </header>

        <!-- Tuition Information -->
        <section id="one" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2>TUITION</h2>
                    <p>An eternal investment in your child</p>
                </header>
                <div class="flex flex-3">
                    <article>
                        <header>
                            <h3>2-day Option</h3>
                        </header>
                        <dl class="tuition alt">
                            <dt>Annual ($100 discount):</dt>
                            <dd>$2,600 due on Aug 1st</dd>
                            <dt>Semi-annual ($100 discount):</dt>
                            <dd>$1,300 due on Aug 1st and Jan 1st</dd>
                            <dt>Monthly:</dt>
                            <dd>10 payments of $270 due on the 1st of each month (Aug-May)</dd>
                        </dl>
                    </article>
                    <article>
                        <header>
                            <h3>3-day Option</h3>
                        </header>
                        <dl class="tuition alt">
                            <dt>Annual ($150) discount):</dt>
                            <dd>$3,850 due on Aug 1st</dd>
                            <dt>Semi-annual ($150 discount):</dt>
                            <dd>$1,925 due on Aug 1st and Jan 1st</dd>
                            <dt>Monthly:</dt>
                            <dd>10 payments of $400 due on the 1st of each month (Aug-May)</dd>
                        </dl>
                    </article>
                    <article>
                        <header>
                            <h3>NPCS Fees</h3>
                        </header>
                        <dl class="tuition alt">
                            <dt>Registration Fee:</dt>
                            <dd>$175</dd>
                            <dt>Curriculum Fee:</dt>
                            <dd>$330</dd>
                            <dt>Late Fee:</dt>
                            <dd>$25 if monthly payment is received on the 5th. An additional $5 is applied every day thereafter.</dd>
                        </dl>
                    </article>
                </div>
            </div>
        </section>
        
        <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; NorthPointe Christian School.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/NorthPointeChristianSchool" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/northpointecs/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>